section{
    & h1 {
        color: maroon;
        text-align: center;  
    }
    & table {
		width: 100%;
		border-collapse: collapse;
		font-size: 1em;
		line-height: 1.4;
        border: 2px solid black;
        & thead{
            background-color: steelblue;
            color: white;
            & th {
				text-align: left;
				padding: 0.75em 0.5em;
				font-weight: bold;
                border: none;
            }
        }
        & tbody {
            & tr{
                padding: 0.25em;
            }
            & td {
                padding: 0 0.75em;
                border: none;
                text-align: left;
            }
            .category {
                font-weight: bold;
            }
            & tr td:last-child {
                text-align: right;
            }
        }
    }
}
@media only screen and (max-width: 725px) {
    h1 {
        font-size: 1.5em;
        padding: 0.75em;
    }
    thead { display: none; }
    tr { 
        display: block; 
        margin: 0;
        padding: 0;
    }
    td {
        display: block;
        border: 1px solid black;
        margin: 0;
        padding: .35em .5em;
    }
    tbody {
        & tr td:first-child:not(:empty) {
        background-color: steelblue;
        color: white;
        font-weight: bold;
        padding: 0.5em;
        }
        & td:first-child:empty {
        display: none;
        }
        & td:nth-child(2) {
        font-weight: bold;
        }
        & tr td:last-child{
            text-align: left;
            padding-bottom: 0.65em;
        }
        & tr td:last-child::after {
            content: " calories";
        }
    }

}