body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

header h1 {
    color: steelblue;
    font-style: italic;
}

header h2 { 
    font-size: 1.25;
}

header img {
    float: left;
    margin-right: 15px;
}
section a{
    color: maroon;
    text-decoration: none;
}

section a:hover, section a:focus {
    color: steelblue;
}

aside h2 {
    color: maroon;
}

aside ul {
    line-height: 1.5;
}

aside a {
    color: steelblue;
    text-decoration: none;
}

aside a:hover, aside a:focus {
    color: maroon;
}
footer {
    font-size: 0.9em;
    text-align: center;
}