/* Reset selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: auto;
    background-color: white;
}
h1 {
    font-size: 2.5vw;
}
a {
    font-weight: bold;
}

/* Header styles */
header {
    background: linear-gradient(to bottom, white, lightsteelblue);
    padding: 20px;
    text-align: left;
    border-bottom: 3px solid steelblue;
    & h1 {
        color: steelblue;
        font-style: italic;
        font-size: clamp(40px, 15%, 66px);;
    }
    & h2 {
        font-size: clamp(20px, 15%, 40px);;
        padding-top: 0.5em;
    }
    & img {
        float: left;
        margin-right: 15px;
        max-width: 120px;
        min-width: 100px;
        width: clamp(100px, 15%, 120px);
    }
}

/* Main styles */
main {
    padding: 0.5em 1.5em;
    width: auto;
    display: flex;
    flex-direction: column;
}

/* Main section styles */
section {
    width: 100%;
    float: left;
    margin-right: 0;
    margin-bottom: 0.5em;
    & p {
        padding-top: 0.5em;
    }
    & h2 {
        padding-top: 0.5em;
    }
    & h3 {
        padding-top: 0.75em;
    }
    & blockquote {
        padding: 0.5em 0 0.5em 2em;
    }
    & a:link, a:visited {
        color: maroon;
    }
    & a:hover, a:focus {
        color: steelblue;
    }
}

/* Sidebar */
aside {
    border: 2px solid steelblue;
    border-radius: 20px;
    padding: 15px;
    margin: 20px 0;
    height: fit-content;
    width: 100%;
    float: right;
    & h2 {
        padding-bottom: 0.4em;
        color: maroon;
    }
    & ul {
        line-height: 1.5;
        margin: 0 0.5em;
        padding: 0 0.5em;
    }
    & li {
        padding: .1em;
    }
    & a:link {
        color: steelblue;
    }
    & a:visited {
        color: steelblue;
    }
    & a:hover, a:focus {
        color: maroon;
    }
}
/* Styles for Footer */ 
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    font-size: 0.9vw;
    padding: 15px;
}

/* styles for the navigation bar */
nav.navbar {
    background-color: steelblue;
    position: relative;
    min-height: 2.5em;
    & a {
        display: block;
        padding: 1em;
        color: white;
        text-decoration: none;
        font-weight: normal;
        margin-top: 0;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 2px;
    }
    & a:hover, a:focus {
        background-color: steelblue;
        color: white;
        text-decoration: underline;
    }
    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}
.menu li {
    position: relative;
}

.menu li:has(.submenu) small {
    display: none;
}
.menu li:has(.submenu):hover > .submenu {
    display: block;
}

.submenu {
    position: absolute;
    background-color: steelblue;
    color: white;
    display: none;
}
.submenu li {
    width: 100%;
    border: none;
}

/* step 6 */
#menu-toggle {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.menu-btn {
    display: block;
    position: static;
    top: 5px;
    left: 1em;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 11;
}
.menu-btn::before {
    content: '\2630';
}
#menu-toggle:checked + .menu-btn::before {
    content: '\00d7';
    font-size: 1.2em;
}
.navbar .menu {
    display: none;
    clear: both;
}
#menu-toggle:checked ~ .menu {
    display: block;
    position: absolute;
    background-color: steelblue;
    min-width: 12em;
}
.navbar .menu li {
    width: auto;
    border-bottom: none;
}
.menu li:has(.submenu) > a::after {
    content: '\25B6';
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.7em;
    position: relative;
    top: -1px;
}
.submenu {
    position: absolute;
    left: 100%;
    top: 0;
    width: max-content;
    min-width: 10em;
    z-index: 12;
    border: none;
}
.navbar .submenu a {
    padding: 0.75em 1em;
    font-size: 90%;
    line-height: 1.2;
}
/* step 6 */

/* Media query for larger screens */
@media only screen and (min-width: 725px) {
    header {
        text-align: left;
    }
    main {
        flex-direction: row; /* Display side-by-side on larger screens */
    }
    section {
        width: 70%; /* Back to 70% width on larger screens */
        margin-right: 2em; 
        order: 1; /* Restore right margin on larger screens */
    }
    aside {
        width: 30%; /* Back to 30% width on larger screens */
        order: 2;
    }
    .menu-btn,
    #menu-toggle {
        display: none;
    }
    .navbar .menu {
        display: flex;
        justify-content: space-evenly;
        position: static;
        border-top: none;
        background-color: transparent;
        width: auto;
        height: auto;
        overflow: visible;
        box-shadow: none;
    }
    #menu-toggle:checked ~ .menu {
         display: flex;
         position: static;
         width: auto;
         box-shadow: none;
    }
    .navbar .menu li {
        width: auto;
        border-bottom: none;
    }
    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        min-width: 10em;
        display: none;
        background-color: steelblue;
        color: var(--light);
        z-index: 10;
    }
    .navbar .menu a {
        padding: .75em;
    }
    .menu li:has(.submenu) > a::after {
        content: '\25BC';
    }
    /* styles for the navigation bar */
    nav.navbar {
        background-color: steelblue;
        & a {
            display: block;
            padding: 1em;
            color: white;
            text-decoration: none;
            font-weight: normal;
            margin-top: 0;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 2px;
        }
        & a:hover, a:focus {
            background-color: steelblue;
            color: white;
            text-decoration: underline;
        }
        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    ul.menu {
        display: flex;
        flex-wrap: wrap;
        & li {
            flex-basis: 20%;
            text-align: center;
        }
        & li:has(.submenu) {
            position: relative;
        }
        & > a small {
            margin-left: 6px;
        }
        & :hover > .submenu {
            display: block;
        }
        & > li:first-child a {
            margin-left: 0;
        }
        & > li:last-child a {
            margin-right: 0;
        }
        & a.current {
            color: white;
            border: 2px solid white;
            border-radius: 10px;
            text-decoration: none;
            display: inline-block;
            padding: 5px 15px;
            margin: 10px;
        }
    }
    ul.submenu {
        position: absolute;
        left: 0;
        right: 0;
        background-color: steelblue;
        color: var(--light);
        display: none;

        & li {
            text-align: left;
        }
        & > li a {
            margin: 0 2px 2px;
        }

    }
}